@media all {.body_yqeSh2{width: 100%; color: rgb(40, 46, 44); position: relative; bottom: 4px; background-color: rgb(22, 166, 247); }
.paragraph_MEeOsr{font-weight: bold; font-size: 29px; text-align: center; padding-top: 39px; color: rgb(255, 255, 255); padding-bottom: 10px; }
.section_x2MRhi{background-color: rgba(88,179,245,0.95); }
.column_KFjKRw{width: 30%; max-height: 500px; overflow: visible; }
.column_KR24US{width: 70%; min-height: 200px; }
.container_QFvwV8{width: 100%; min-height: 6px; box-shadow: rgb(128, 108, 108) 0px 0px 7px 2px; border-radius: 4px; border: 1px dashed rgb(255, 255, 255); border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.audio_JYQ3r1{width: 100%; position: absolute; bottom: 1px; }
.container_KOCyGo{width: 90%; }
.section_xvvr5I{padding-top: 55px; }
.tabs_GTsB4s{position: relative; }
.tabmenu_EDyNRo{border-bottom-width: 4px; border-bottom-color: rgba(238,238,238,1); border-style: none none solid; border-radius: 2px; }
.nav-tabs > li > .tabtextlink_iZTzZt{font-size: 16px; font-weight: bold; color: rgb(43, 39, 39); background-color: transparent; border-bottom-right-radius: px; border-bottom-left-radius: px; border-top-right-radius: px; border-top-left-radius: px; }
.tabpane_Rwq6Sc{position: relative; }
.paragraph_3JRvCF{color: #a35a5a; }
.container_TKq87M{width: 100%; min-height: 100px; }
.label_qp5jFX{max-width: 30%; width: 30%; height: 100%; font-weight: bold; font-size: 15px; color: #ffffff; }
.div_1H3nzh{min-height: 20px; width: 100%; padding: 10px 10px 5px; padding-bottom: 5px; }
.div_A0KOGf{min-height: 20px; padding: 5px 10px; width: 100%; padding-bottom: 5px; }
.label_FLH7BA{max-width: 30%; width: 30%; height: 100%; font-size: 15px; font-weight: bold; color: #ffffff; }
.div_1rTtp3{display: inline-block; width: 16px; height: 16px; min-height: 16px; min-width: 16px; background-color: #ecc; }
.div_iqgkqp{width: 29px; min-height: 29px; height: 29px; display: inline-block; padding: 5px; min-width: 29px; border: 1px solid rgb(204, 204, 204); margin-top: 0px; margin-left: 0px;}
.select_T0b1s9{display: inline-block; width: 30%; height: 25px; box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -ms-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -o-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -moz-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -webkit-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); }
.list_wpqsD7{list-style-type: decimal; padding-left: 30px; padding-top: 20px; font-size: 16px; color: rgb(255, 255, 255); min-height: 100px; overflow: scroll; height: 500px; }
.listitem_ip34W7{min-height: 30px; width: 100%; height: 30px; color: rgb(255, 255, 255); font-weight: normal; font-size: 16px; position: relative; }
.div_z9uTRk{min-height: 500px; height: 500px; border: 1px none rgb(204, 204, 204); position: relative; width: 100%; border-bottom-width: 0px; border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; }
.container_81GpZq{width: 100%; height: 100%; min-height: 100%; min-width: 100%; padding-left: 0px; padding-right: 0px; display: none; border-width: 0px; border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.nav-tabs > li.active > .tabtextlink_iZTzZt{border-style: solid solid none; border-radius: 5px 5px 0px 0px; background-color: rgb(238, 238, 238); border-top-right-radius: 5px; }
.paragraph_xEPM1H{width: 100%; height: 100%; }
.section_IvwAuI{position: fixed; bottom: 1px; width: 100%; min-height: 50px; background-color: rgba(88, 179, 245, 0.952941); }
.div_h84tTi{min-height: 5px; height: 100%; width: 100%; }
.paragraph_smJitS{text-align: center; font-size: 16px; font-style: italic; text-transform: capitalize; width: 100%; height: 100%; margin-bottom: 0px; }
.button_pCsGrD{clear: none; float: none; position: absolute; bottom: -65%; right: 35%; color: rgb(65, 67, 69); font-size: 15px; font-weight: bold; left: -1px; background-color: rgb(238, 238, 238);}
.linkblock_jJ8Rmk{min-width: 100%; min-height: 100%; }
.textlink_7mPpZ5{color: rgb(255, 255, 255); width: 100%; height: 100%; overflow-x: scroll;}
.button_aog7MX{width: 25px; height: 25px; padding: 5px; font-size: 10px; font-weight: bold; border-style: none; color: rgb(0, 0, 0); position: absolute; right: 59%; display: inline-block; left: 101%; bottom: 4px; background-color: rgb(238, 238, 238); }
.button_play{left: 39px; }
.button_9tlfXG{padding: 5px; width: 25px; height: 25px; position: absolute; left: 90%; border-width: 0px; border-style: none; border-radius: 4px; display: inline-block; right: 5px; }
.textlink_GGDsxs{position: absolute; top: 3%; left: 85%; color: rgb(238, 238, 238); font-weight: bolder; font-size: 20px; }
.textlink_0mLdMJ{position: absolute; right: 9%; top: 3%; color: rgb(0, 0, 0); border-width: 2px; border-color: rgb(238, 238, 238); border-radius: 10px; width: 30px; height: 30px; text-align: center; background-color: rgb(238, 238, 238); font-style: normal; }
.icon_mgLV0y{color: rgb(238, 238, 238); font-size: 20px; position: absolute; right: -1px; top: -30px; left: 90%; margin-top: 0px; display: inline-block; }
.icon_mgLV0y:hover{font-size:22px;cursor:pointer;}
.icon_HMQGsY{font-size: 22px; position: absolute; right: 11%; display: none; bottom: 6px; top: 9%; }
.icon_0XdyfY{font-size: 22px; position: absolute; left: 93%; top: 6%; display: none; font-weight: bold; z-index:999;}
.div_BDsFTx{position: relative; }
.nav-tabs > li > .tabtextlink_iZTzZt:hover{color: rgb(153, 204, 51); }
.div_iqgkqp:hover{cursor:pointer;border-color: rgb(102, 102, 102); border-bottom-color: rgba(102,102,102,1); border-top-color: rgba(102,102,102,1); border-right-color: rgba(102,102,102,1); border-left-color: rgba(102,102,102,1); }
.listitem_ip34W7:hover{font-size: 18px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: rgb(204, 204, 204) 5px 0px 5px;}
.listitem_ip34W7:hover i{display:inline-block;}
.paragraph_xEPM1H:hover{font-size: 18px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 5px 0px 5px rgba(204,204,204,1); background-color: transparent; }
.button_pCsGrD:hover{color: rgb(45, 179, 34); box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); background-color: rgb(238, 238, 238); -ms-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -o-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -moz-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -webkit-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); }
.textlink_7mPpZ5:hover{color: #ffffff;overflow-x: scroll; }
.button_aog7MX:hover{border-width: 0px; color: rgb(153, 204, 51); display: inline-block; background-color: rgba(238,238,238,1); }
.button_9tlfXG:hover{color: #ff6666; }
.icon_HMQGsY:hover,.icon_0XdyfY:hover{cursor:pointer;width: 25px; color: rgb(238, 238, 238); font-size: 24px; background-color: transparent; }
.nav-tabs > li > .tabtextlink_iZTzZt:focus{color: rgb(43, 39, 39); }
.listitem_ip34W7:focus{font-size: 16px; font-weight: normal; color: rgb(238, 238, 238); }
.textlink_7mPpZ5:focus{font-weight: bold; font-size: 18px; color: rgb(71, 65, 65);overflow-x: scroll; }
.nav-tabs > li > .tabtextlink_iZTzZt:active{color: #362323; }
/* 滚动条不显示 */
::-webkit-scrollbar {
    width: 0px !important;
}
.audio_my{
    width:100%
}
.mydrop{
    width:100%;
    height:300px;
    border:1px solid #ccc;
    background:rgba(0,0,0,0.1);
    box-shadow: 0 0 1px 1px #cccccc;
    -webkit-box-shadow: 0 0 1px 1px #cccccc;
    border-radius:3px;
    -webkit-border-radius: 3px;
}
.mydrop:hover{cursor: pointer;}
.mydrop span{
    color:#000;
    font-size:30px;
    text-align: center;
    display:inline-block;
    margin:100px 0;
    width:100%;
}
} 
@media (max-width: 991px) {} 
@media (max-width: 767px) {} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 