@media all {.body_yqeSh2{width: 100%; color: #ffffff; position: relative; bottom: 4px; }
.paragraph_MEeOsr{font-weight: 600; font-size: 20px; text-align: right;display: inline-block; padding-top: 39px; color: #fc5451; padding-bottom: 10px; width:80%;}
.myparagraph{font-weight:300;font-size: 15px; text-align: right; color:#fff;display: inline-block;width:auto;margin-left:5%;padding:5px}
.myparagraph:hover{border-radius: 5px;border:1px #f06c64 solid;}
.section_x2MRhi{background-color: #2d303a;border-bottom:6px solid #323746;}
.column_KFjKRw{width: 60%; max-height: 200px; overflow: visible; margin-left:20%;}
.column_KR24US{width: 70%; min-height: 200px; margin-left: 15%;}
.container_QFvwV8{width: 100%; min-height: 6px; box-shadow:#323746 0px 0px 7px 2px; border-radius: 4px; border: 1px dashed rgb(255, 255, 255); border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.audio_JYQ3r1{width: 100%; position: absolute; bottom: 1px; }
.container_KOCyGo{width: 90%; }
.section_xvvr5I{padding-top: 55px; background: #fc5451;min-height: 500px;}
.tabs_GTsB4s{position: relative; }
.tabmenu_EDyNRo{position:absolute;left:-100px;top:20px;}
.nav-stacked > li > .tabtextlink_iZTzZt{font-size: 16px; font-weight: bold; color: #f0d8d9; background-color: transparent;  }
.tabpane_Rwq6Sc{position: relative; }
.paragraph_3JRvCF{color: #a35a5a; }
.container_TKq87M{width: 100%; min-height: 100px; padding-top:0px; }
.label_qp5jFX{max-width: 30%; width: 30%; height: 100%; font-weight: bold; font-size: 15px; color:#f0d8d9; }
.div_1H3nzh{min-height: 20px; width: 100%; padding: 10px 10px 5px; padding-bottom: 5px; }
.div_1H3nzh label{color:#f0d8d9; }
.div_A0KOGf{min-height: 20px; padding: 5px 10px; width: 100%; padding-bottom: 5px; }
.label_FLH7BA{max-width: 30%; width: 30%; height: 100%; font-size: 15px; font-weight: bold; color:#f0d8d9; }
.div_1rTtp3,.div_2rTtp3{display: inline-block; width: 16px; height: 16px; min-height: 16px; min-width: 16px; background-color: #ecc; }
.div_iqgkqp{width: 29px; min-height: 29px; height: 29px; display: inline-block; padding: 5px; min-width: 29px; border: 1px solid rgb(204, 204, 204); margin-top: 0px; margin-left: 0px;}
.select_T0b1s9{display: inline-block; width: 30%; height: 25px; box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -ms-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -o-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -moz-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); -webkit-box-shadow: 0px 0px 0px 0px rgba(204,204,204,0.76); }
.list_wpqsD7{list-style-type: decimal; height: 300px; padding-left: 30px; padding-top: 20px; font-size: 16px; color: rgb(255, 255, 255); min-height: 100px; overflow: scroll; }
.listitem_ip34W7{min-height: 30px; width: 100%; height: 30px; color: #f0d8d9; font-weight: normal; font-size: 16px; position: relative; }
.div_z9uTRk{min-height: 500px; height: 500px; border: 1px none rgb(204, 204, 204); position: relative; width: 100%; border-bottom-width: 0px; border-top-width: 0px; border-right-width: 0px; border-left-width: 0px; }
.container_81GpZq{width: 100%; height: 100%; min-height: 100%; min-width: 100%; padding-left: 0px; padding-right: 0px;  border-width: 0px; border-bottom-style: none; border-top-style: none; border-right-style: none; border-left-style: none; }
.nav-stacked > li.active > .tabtextlink_iZTzZt{background-color: transparent; font-size:20px; }
.nav-stacked > li.active > .tabtextlink_iZTzZt:hover{background: transparent;}
.nav-stacked > li.active > .tabtextlink_iZTzZt:focus{background: transparent;}
.paragraph_xEPM1H{width: 100%; height: 100%; }
.section_IvwAuI{width: 100%; min-height: 50px; background-color: #2d303a; border-top: 6px solid #323746}
.section_IvwAuI i:hover{color:#fff; }
.section_IvwAuI i{margin-left:10px; color:#98999e; }
/*.div_h84tTi{min-height: 50px; height: 100%; width: 100%; }*/
.paragraph_smJitS{text-align: center; color:#98999e; font-size: 16px; font-style: italic; text-transform: capitalize; width: 100%; height: 100%; line-height: 100%; }
.button_pCsGrD{clear: none; float: none; position: absolute; bottom: -65%; right: 35%; color: rgb(65, 67, 69); font-size: 15px; font-weight: bold; left: -1px; background-color: rgb(238, 238, 238);}
/*.linkblock_jJ8Rmk{min-width: 100%; min-height: 100%; }*/
.textlink_7mPpZ5{color:#f0d8d9; width: 100%; height: 100%; overflow-x: scroll;}
.button_aog7MX{width: 25px; height: 25px; padding: 5px; font-size: 10px; font-weight: bold; border-style: none; color: rgb(0, 0, 0); position: absolute; right: 59%; display: inline-block; left: 101%; bottom: 4px; background-color: rgb(238, 238, 238); }
.button_play{left: 39px; }
.button_9tlfXG{padding: 5px; width: 25px; height: 25px; position: absolute; left: 90%; border-width: 0px; border-style: none; border-radius: 4px; display: inline-block; right: 5px; }
.textlink_GGDsxs{position: absolute; top: 3%; left: 85%; color: rgb(238, 238, 238); font-weight: bolder; font-size: 20px; }
.textlink_0mLdMJ{position: absolute; right: 9%; top: 3%; color: rgb(0, 0, 0); border-width: 2px; border-color: rgb(238, 238, 238); border-radius: 10px; width: 30px; height: 30px; text-align: center; background-color: rgb(238, 238, 238); font-style: normal; }
.icon_mgLV0y{color: rgb(238, 238, 238); font-size: 20px; position: absolute; right: -1px; top: -30px; left: 90%; margin-top: 0px; display: inline-block; }
.icon_mgLV0y:hover{font-size:22px;cursor:pointer;}
.icon_HMQGsY{font-size: 22px; position: absolute; right: 11%; display: none; bottom: 6px; top: 9%; }
.icon_0XdyfY{font-size: 22px; position: absolute; left: 93%; top: 6%; display: none; font-weight: bold; z-index:999;}
.div_BDsFTx{position: relative; }
.nav-stacked > li > .tabtextlink_iZTzZt:hover{color: #666d89; background: transparent; }
.div_iqgkqp:hover{cursor:pointer;border-color: rgb(102, 102, 102); border-bottom-color: rgba(102,102,102,1); border-top-color: rgba(102,102,102,1); border-right-color: rgba(102,102,102,1); border-left-color: rgba(102,102,102,1); }
.listitem_ip34W7:hover{font-size: 18px; font-weight: bold; color:#fff; }
.listitem_ip34W7:hover i{display:inline-block;}
.listitem_ip34W7:hover a{color:#fff;}
.paragraph_xEPM1H:hover{font-size: 18px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 5px 0px 5px rgba(204,204,204,1); background-color: transparent; }
.button_pCsGrD:hover{color: rgb(45, 179, 34); box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); background-color: rgb(238, 238, 238); -ms-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -o-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -moz-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); -webkit-box-shadow: 0px 0px 2px 2px rgba(204,204,204,1); }
.textlink_7mPpZ5:hover{color: #fff;overflow-x: scroll; }
.button_aog7MX:hover{border-width: 0px; color: rgb(153, 204, 51); display: inline-block; background-color: rgba(238,238,238,1); }
.button_9tlfXG:hover{color: #ff6666; }
.icon_HMQGsY:hover,.icon_0XdyfY:hover{cursor:pointer;width: 25px; color: rgb(238, 238, 238); font-size: 24px; background-color: transparent; }
.nav-stacked > li > .tabtextlink_iZTzZt:focus{color: #666d89; }
.listitem_ip34W7:active{font-size: 16px; font-weight: normal; color: #31313b; }
.listitem_ip34W7:active a{font-size: 18px; font-weight: bold; color: #31313b; }
.textlink_7mPpZ5:active{font-weight: bold; font-size: 18px; color:#31313b; }
    /*.myactive{font-weight: bold; font-size: 18px; color:#31313b; }*/
.nav-stacked > li > .tabtextlink_iZTzZt:active{color: #362323; }
/* 滚动条不显示 */
::-webkit-scrollbar {
    width: 0px !important;
}
.audio_my{
    width:100%
}
.mydrop{
    width:40%;
    height:500px;
    border:1px solid #ccc;
    position:fixed;
    left:30%;
    top:20%;
    z-index: 99;
    background:#2d303a;
    box-shadow: 0 0 1px 1px #cccccc;
    -webkit-box-shadow: 0 0 1px 1px #cccccc;
    border-radius:3px;
    -webkit-border-radius: 3px;
}
.mydrop:hover{cursor: pointer;}
#myupload{
    width:100%;
    height:60%;
    border:none;
    text-decoration: none;
    margin-top:15%;
    text-align: center;
    font-size: larger;
}
.closemask{
    float:right;
    margin-right: -20px;
    margin-top: -20px;
    width:30px;
    height: 30px;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    background: rgba(0,0,0,0.6);
}
.mask{width:100%; background: rgba(0,0,0,0.5); position: absolute; z-index: 98; left: 0; top:0; }
.div_linear{
    margin-left:30px;
    display: inline-block;
    height:29px;
    min-height: 29px;
    padding:5px;
    border:1px solid #ccc;
    min-width: 29px;
}
.div_linear:hover{
    cursor: pointer;
    border-color:rgb(102, 102, 102);
}
.div_2H3nzh{
    display: none;
}
.section_my{
    padding-top: 55px;
    padding-bottom: 55px;
    background: #f2f2f2;
}

} 
@media (max-width: 991px) {} 
@media (max-width: 767px) {} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 